.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px 10px;
  height: 50px;
  z-index: 1;
  transition: all 0.5s ease-in;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  width: 40px;
  object-fit: contain;
  padding-right: 20px;
}
